

<p id="notice"><%= flash[:notice] %></p>

<div class="ShowTitle"><p><strong>Title:</strong><%= @book.title %></p></div>
<div class="ShowBody"><p><strong>Body:</strong><%= @book.body %></p></div>
<div class="EditBack"><%= link_to "Edit", edit_book_path(@book.id) %>|
<%= link_to "Back", '/books' %></div>
